/* RESET */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* BODY */
body {
    height: 100vh;
    background: yellow; /* тимчасово для перевірки */
}

/* BLOCKS */
.header {
    height: 30vh;
    background-color: #ffcccc;
    display: flex;
    align-items: center;        /* вертикально по центру */
    justify-content: flex-start; /* зліва */
}

.main {
    height: 40vh;
    background-color: #ccffcc;
    display: flex;
    align-items: center;        /* вертикально по центру */
    justify-content: center;    /* по центру */
}

.footer {
    height: 30vh;
    background-color: #ccccff;
    display: flex;
    align-items: center;        /* вертикально по центру */
    justify-content: flex-end;  /* справа */
}

/* TEXT */
.text {
    font-size: 24px;
    color: #333;
    padding: 20px;
}
